body {
    background-color: #32548d;
}

/* 영어 폰트 */
#font-eng {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* 한글 폰트 */
#font-kor {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 320;
    font-style: normal;
}

/* 정가운데로 오도록 위치 정렬 */
.area-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}

/* 텍스트 크기, 자간 적용 */
.zone-1 {
    font-size: 130px;
    letter-spacing: 27px;
    margin-left: 7%;
    color: #fff;
    position: relative;
}

/* 텍스트 특수기호만 색깔 적용 */
.point {
    color: #cc5d47;
}

.text-2 {
    text-decoration: none;
}

/* 보조문구 위치, 크기, 자간 적용 */
.text-4 {
    font-size: 30px;
    margin-left: 2.1%;
    margin-top: 5%;
    letter-spacing: 10px;
    color: #fff;
}

/* 애니메이션 밑줄 그어지기 */
#underline {
    background-image: linear-gradient(transparent calc(100% - 40px), #ffe081 5px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1s;
    cursor: pointer;
}

#underline.yellow {
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
}

#underline:hover {
    background-size: 100% 100%;
}